/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oranienbaum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prata&display=swap" rel="stylesheet'); */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #543310;
  --color-secondary: #f8f4e1;
  --font-serif: "Instrument Serif", serif;
  --font-display: "Sarabun", sans-serif;
}

@layer base {
  /* Force all inputs to have a solid bottom border */
  input, select, textarea {
    /* border-bottom: 2px solid var(--color-primary) !important; */
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }

  /* Force the table grid to show up */
  table, th, td {
    border: 1px solid var(--color-primary) !important;
    border-style: solid !important;
  }
}